.proc-fc-container {


}

.proc-fc-flag-container {

}

.proc-fc-cond-container {

}


.proc-fc-cond, .proc-fc-flag {
    margin: var(--padding-size);
    border-radius: var(--border-radius);
    padding: var(--padding-size);
    font-size: 1rem;
}

.proc-fc-cond {

}

.proc-fc-flag {
    cursor: pointer;

}

.proc-fc-cond-active, .proc-fc-flag-active {
    background-color: lightgrey !important;

}