:root {

  --main-accent-color: #002B5B;
  --main-accent-color-sec: #EA5455;
  --main-bg-color: #536878;
  --main-bg-color-sec: #E4DCCF;
  --main-fg-color: #454545;
  --main-fg-color-sec: #A9A9A9;


  --nav-fg-color: #454545;
  --nav-bg-color: #F9F5EB;
  --nav-bg-sel-color: #C9C5BB;
  --nav-fg-hover-color: #F5F5F5;
  --nav-bg-hover-color: #49453B;

  --editor-controls-bg-color: #36454f;
  --editor-controls-bg-hover-color: #EEEEEE;
  --editor-bg-color: #EEEEEE;
  --editor-code-color: #222222;
  --editor-linenumbers-color: #2222EE;

  --proc-bg-color: #aec6cf;
  --proc-logo-color: #121212;
  --proc-con-bg-color: #FFFFFF;
  --proc-con-bg-hover-color: #FFFFFF;

  --proc-main-bg-color: #121212;

  --proc-mem-bg-color: #FFFFFF;



}


*{
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
  z-index: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background:var(--main-bg-color);
  color: #fff;
}

header {
  width: 100vw;
  text-align: center;
  background: var(--main-bg-color);
  color: var(--main-accent-color);
  font-family: monospace;
}

main {
  display: flex;
  width: 100vw;
  min-height: 85vh;
  margin-top: 1vh;
  height: auto;
  resize: vertical;

}

footer {
  width: 100vw;
  max-height: 20vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  margin-top: 0;
  background: var(--main-bg-color-sec);
  color: var(--main-fg-color);
}

footer a {

}

#lcontainer {
  display: flex;
  float: left;
  width: 28.5vw;
  min-height: 83vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 0.5vw;

  resize: vertical;
}

#rcontainer {
  display: block;
  float: right;
  width: 68.5vw;
  min-height: 83vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 0.5vw;
  margin-right: 1vw;
  resize: vertical;
}
