
:root{
    --info-btn-bg-color: #36F;
    --info-active-bg-color: #F63;
    --info-btn-fg-color: #FFF;
}


.info-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: var(--padding-size);
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

    flex: 100%;

    padding: var(--padding-size);
}

.info-container div {
    gap: var(--padding-size);
}

.info-label {
    flex: 100%;
    position: relative;


}

.info-label a {
    display: block;
    width: 100%;
    text-align: center;

    font-size: 1.5rem;
}

.info-btndiv {
    flex: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.info-btndiv button {
    flex: 100%;
    display: block;
    cursor: pointer;

    border: none;
    background-color: var(--info-btn-bg-color);
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    color: var(--info-btn-fg-color);
    transition: 0.1s;
}
.info-active{
    background-color: var(--info-active-bg-color)!important;
}

.info-btndiv button:hover {
    opacity: 90%;
}

.info-screen {
    flex: 100%;

    display: block;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.info-screen div {

}

/*Responsive Layout*/
@media (max-width: 1200px) {
    .info-container {
        flex-direction: column;
        justify-content: stretch;
        height: auto;
        align-content: flex-start;
    }

}