.exeControlDiv {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.exeControlDiv div {
    display: flex;
    position: relative;
    flex: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    gap: var(--padding-size);
}

.exeControlDiv div a {
    flex-grow: 1;
    text-align: center;

    padding: var(--padding-size);

    color: var(--exec-textColor);
}

.exeControlDiv div img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 1em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(215deg) brightness(109%) contrast(100%);
}

.input-button {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: var(--border-radius);
    border-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    padding: var(--padding-size);
    color: black;
    overflow: hidden;
    min-width: var(--exec-iconSize);
}

.input-button:hover {
    filter: brightness(110%);
}

.input-button input {
    display: block;
    border: none;
    outline: none;
    background-color: var(--exec-inputBgColor);
    color: var(--exec-inputFgColor);
    text-align: center;
    font-size: 1em;
    border-radius: var(--border-radius);

}

.input-button input::placeholder {
    color: var(--exec-placeholderFgColor);
}

.input-button input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-button input[type=number]{
    -moz-appearance: textfield;
}

.input-button a {
    width: 100%;
    height: 100%;
    display: flex;
    gap: var(--padding-size);
    flex-direction: row;
    align-content: center;
    justify-content: center;

    text-decoration: none;
    border-width: 0;
    overflow: hidden;
    min-width: var(--exec-iconSize);
    font: var(--exec-iconSize) Verdana;
}

.input-button a p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font: 1em Verdana;
}



.button {
    cursor: pointer;
    flex-grow: 1;
    border-radius: var(--border-radius);
    border-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
    padding: var(--padding-size);
    overflow: hidden;
    min-width: var(--exec-iconSize);
    font: var(--exec-iconSize) Verdana;
    transition: 0.3s;
}

.button:hover {
    filter: brightness(110%);
}

.button p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font: 1em Verdana;
}

#sstep {
    background-color: var(--exec-sstepBgColor);
    color: var(--exec-sstepFgColor);
}

#continuous {
    background-color: var(--exec-continuousBgColor);
    color: var(--exec-continuousFgColor);
}

#reset {
    background-color: var(--exec-resetBgColor);
    color: var(--exec-resetFgColor);
}

#sover {
    background-color: var(--exec-soverBgColor);
    color: var(--exec-soverFgColor);
}

#esub {
    background-color: var(--exec-esubBgColor);
    color: var(--exec-esubFgColor);
}

#mstep {
    background-color: var(--exec-mstepBgColor);
    color: var(--exec-mstepFgColor);
}


