:root {
    --editor-controls-bg-color: #36454f;
    --editor-controls-bg-hover-color: #EEEEEE;
    --editor-bg-color: #EEEEEE;
    --editor-code-color: #222222;
    --editor-linenumbers-border-color: #B5B5B5;
    --editor-linenumbers-color: #2222EE;
    --editor-lineactive-color: green;

    --editor-lineHeight: 21px;

    --editor-hl-red: red;
    --editor-hl-blue: #536878;
    --editor-hl-green: green;
    --editor-hl-cyan: cyan;
    --editor-hl-orange: orange;
    --editor-hl-decimal: green;
    --editor-hl-hex: darkcyan;
}

.editor {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    gap: var(--padding-size);
}


/* -- EDITOR CONTROLS -- */
.editor-controls {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    gap: var(--padding-size);
    min-width: 32px;
}


.editor-control {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 2px;
    background-color: var(--editor-controls-bg-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.1s;
}

.editor-control img {
    width: var(--icon-size);
    height: var(--icon-size);
    filter: invert(100%);
    transition: 0.1s;
}

.editor-control-active img {
    filter: invert(71%) sepia(54%) saturate(429%) hue-rotate(83deg) brightness(89%) contrast(87%) !important;
}


/* -- EDITOR CONTAINER -- */

.editor-container {
    display: block;
    max-height: 100%;
    width: calc(100% - var(--padding-size));
    line-height: var(--editor-lineHeight);

    font-family: monospace;
    background: var(--editor-bg-color);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1% 1%;
}

.editor-scroll-container {
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 100%;
}

/* EDITOR Line Numbers */
.editor-line-numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    min-width: 30px;
    text-align: right;
}

.editor-line-numbers span {
    cursor: pointer;
    padding-right: 5px;
    border-right: 1px solid var(--editor-linenumbers-border-color);
}

.line-active {
    color: var(--editor-lineactive-color);
}

/* EDITOR Input Field */
.editor-input-div {
    position: relative;
    display: flex;
    width: 400px;
    height: auto;
    flex-grow: 1;
}

.editor-area, .editor-highlighting-content {
    font-family: monospace;
    font-size: 16px;
    tab-size: 6;
    line-height: 21px;
    white-space: pre;
    overflow-x: hidden;
    overflow-wrap: normal;
    padding-left: var(--padding-size);
    border: 0;
    background: transparent;
    color: var(--editor-code-color);
    outline: none;
    resize: none;
}

.editor-highlighting {
    position: absolute;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 0;

    white-space: pre-wrap;
}

.editor-highlighting-content {
    display: block;
    width: 100%;
    height: 100%;

    color: grey;
}

.editor-highlighting-content mark {
    font-family: monospace;
}

.editor-area {
    position: absolute;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    resize: none;

    caret-color: var(--editor-code-color);
    columns: calc(400 / 16);
    color: transparent;
}

/* ANIMATION CLASSES */
.anim-rotation {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.anim-hover:hover {
    /*background-color: var(--editor-controls-bg-hover-color);*/
    filter: brightness(150%);
}

.anim-deactivated {
    opacity: 50%!important;
}

/* HIGHLIGHTING COLORS */
.red, .green, .blue, .yellow, .decimal, .hex {
    font-family: monospace;
    font-size: 16px;
}

.red {

    background-color: transparent;
    color: var(--editor-hl-red);
}

.green {
    background-color: transparent;
    color: var(--editor-hl-green);
}

.blue {
    background-color: transparent;
    color: var(--editor-hl-blue);
}

.cyan {
    background-color: transparent;
    color: var(--editor-hl-cyan);
}

.orange {
    background-color: transparent;
    color: var(--editor-hl-orange);
}

.decimal {
    background-color: transparent;
    color: var(--editor-hl-decimal);
}

.hex {
    background-color: transparent;
    color: var(--editor-hl-hex);
}

