body main {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: var(--padding-size);

    padding: var(--padding-size);
}

#lcontainer {
    flex: 40%;
    position: relative;
    height: 80vh;
}

#rcontainer {
    flex: 60%;
    position: relative;
    background-color: var(--main-accent-color-sec);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: var(--border-radius);
    padding: var(--padding-size);

}


/*Responsive Layout*/
@media (max-width: 1200px) {
    body main {
        flex-direction: column;
        justify-content: stretch;
        height: auto;
        align-content: flex-start;

    }

    #lcontainer {
        flex: 100%;
        position: relative;
        display: block;
        min-height: max(50vh, calc(42px * 5));
    }


    #rcontainer {
        flex: 100%;
        position: relative;
        display: block;
        min-height: 100vh;
    }
}


