@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

:root {

    --main-accent-color: #002B5B;
    --main-accent-color-sec: #EA5455;
    --main-bg-color: #EEEEEE;
    --main-bg-color-sec: #E4DCCF;
    --main-fg-color: #454545;
    --main-fg-color-sec: #A9A9A9;

    --padding-size: 5px;
    --border-radius: 2px;

    --icon-size: 32px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}