@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

:root {

    --main-accent-color: #29335C;
    --main-accent-color-sec: #EA5455;
    --main-accent-color-third: #6D8AF5;
    --main-bg-color: #F1F1E6;
    --main-bg-color-sec: #F8F8FF;
    --main-bg-color-third: #FFFFFF;
    --main-fg-color: #454545;
    --main-fg-color-sec: #A9A9A9;

    --padding-size: 0.4rem;
    --border-radius: 0.2rem;

    --icon-size: 32px;


}

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}