:root {

    --main-accent-color: #002B5B;
    --main-accent-color-sec: #EA5455;
    --main-bg-color: #536878;
    --main-bg-color-sec: #E4DCCF;
    --main-fg-color: #454545;
    --main-fg-color-sec: #A9A9A9;


    --nav-fg-color: #454545;
    --nav-bg-color: #F9F5EB;
    --nav-bg-sel-color: #C9C5BB;
    --nav-fg-hover-color: #F5F5F5;
    --nav-bg-hover-color: #49453B;

    --editor-controls-bg-color: #36454f;
    --editor-controls-bg-hover-color: #EEEEEE;
    --editor-bg-color: #EEEEEE;
    --editor-code-color: #222222;
    --editor-linenumbers-border-color: #959595;
    --editor-linenumbers-color: #2222EE;

    --editor-hl-red: red;
    --editor-hl-blue: #536878;
    --editor-hl-green: green;
    --editor-hl-yellow: yellow;
    --editor-hl-decimal: hotpink;
    --editor-hl-hex: darkcyan;

    --proc-bg-color: #aec6cf;
    --proc-logo-color: #121212;
    --proc-con-bg-color: #FFFFFF;
    --proc-con-bg-hover-color: #FFFFFF;
    --proc-main-bg-color: #121212;
    --proc-mem-bg-color: #FFFFFF;
}

* {
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--main-bg-color);
}